* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #444;
    /*outline: 1px solid red;*/
}

body {
    overflow-x: hidden;
    position: relative;
    background-color: #f6f5f3 !important;
}

sup {
    color: red;
}

body a, body a:hover {
    color: black;
    text-decoration: none;
}

header.header > div:not(.desc-link) {
    background: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.desc-link {
    transition: 0.2s;
    top: 0;
    background-color: white;
    min-height: 100vh;
    position: fixed;
    left: -270px;
    width: 270px;
    z-index: 10;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}

.menu-bg {
    color: rgba(0, 0, 0, 0.17);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
}

.menu-bg.active {
    display: block;
}

/*.container-fluid {*/
/*    padding-left: 270px !important;*/
/*}*/

header.header > div:not(.desc-link) {
    background: #0548c7;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: space-between;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
}

.icon-item {
    padding: 15px 26px;
    font-size: 16px;
    transition: 0.2s;
}

.acc-body {
    display: none;
    width: 100%;
    margin-bottom: 0px;

}

.acc-body.active, .acc-head.active {
    background-color: rgba(32, 32, 32, .04);
}


.acc-body a {
    padding: 10px 26px;
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}

.acc-body a:last-child {
    margin-bottom: 0;
}

.acc-body a:hover {
    color: #0548c7;
}

.acc-head {
    cursor: pointer;
    margin-bottom: 0px;
    border-bottom:1px solid lightgray;
}

.acc-head:hover {
    background-color: rgba(32, 32, 32, .04);
}

.acc-head .bi-caret-down-fill {
    margin-left: auto;
}

.acc-head .bi-caret-down-fill.active {
    transform: rotate(180deg);
}

.icons-block {
    display: flex;
    align-items: center;
}

.links {
    color: white;
}

.links a {
    font-size: 12px;
    color: white;
}

.links > .active {
    color: white;
    font-weight: 500;
}

/*.icon-item:not(:last-child) {*/
/*    border-right: 1px solid #f6f5f3;*/
/*}*/

.icon-item:hover > * {
    transition: 0.2s;
    color: #0548c7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.bootstrap-select {
    width: 100% !important;
}

.form-dd-block {
    padding: 0 10px;
}

.table-forms-block .form-dd-block:first-child {
    padding-left: 0;
}

section > form, .header-section > div {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    background-color: white;
    padding: 20px;
    margin-bottom: 0.5rem;
}

section {
    padding-top: 20px;
    padding-bottom: 10px;
}

.form-dd-block:last-child {
    display: flex;
    justify-content: center;
}

.dropdown-toggle {
    background: white !important;
    border: 1px solid #ced4da !important;
}

.dropdown-item.active span, .dropdown-item:active span {
    color: white;
}

.selected.active {
    background-color: #0548c7 !important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #0548c7 !important;
}

.form-check-input:checked {
    background-color: #0548c7 !important;
    border-color: #0548c7 !important;
}

.form-check-input:focus {
    border-color: #0548c7 !important;
    box-shadow: 0 8px 10px rgba(131, 208, 228, 0.3) !important;
}

body .bootstrap-select .dropdown-toggle:focus, body .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
    border: 1px solid #0548c7 !important;
    box-shadow: 0 8px 10px rgba(131, 208, 228, 0.3);
!important;
    outline: white !important;
}

.form-control:focus {
    box-shadow: 0 8px 10px rgba(131, 208, 228, 0.3) !important;
    border-color: #0548c7 !important;
}

.btn-success {
    width: 100%;
    border-radius: 2rem !important;
}

.dropdown-menu {
    border-radius: 1rem !important;
}

.table-forms-block {
    margin-bottom: 20px;
}

.table-search-block {
    margin-bottom: 20px;
}

.table-search-block > div:last-child {
    align-items: center;
}

.table-search-block > div:last-child > div {
    margin-right: 20px;
}

.dt-buttons {
    margin-right: 20px;
}

.table-search-block > div:last-child > div > a {
    border-radius: 1rem;
}

td .btn.btn-outline-success.btn-sm:hover i {
    color: white;
}

td .d-block.text-sm.text-muted {
    color: #0548c7 !important;
}

tbody > * {
    font-size: 12px;
}

th {
    font-size: 12px;
}

th span {
    font-size: 12px;
}

tr .btn {
    border-radius: 1rem !important;
}

.table-block {
    overflow-x: auto;
}

.sorting i {
    float: right;
}

.sorting {
    cursor: pointer;
}

.table-forms-block * {
    font-size: 12px !important;
}

.btn {
    font-size: 12px !important;
}

.form-dd-block button {
    background-color: #0548c7;
    color: white;
    width: 100%;
}

.dataTables_info {
    font-size: 12px;
}

.form-control {
    font-size: 12px !important;
}

.form-dd-block button:hover {
    color: white;
}

.form-dd-block button:focus {
    box-shadow: 0 8px 10px rgba(131, 208, 228, 0.3) !important;
}

.buttons-excel, .buttons-pdf, .buttons-copy, .btn.btn-accept {
    background-color: #0548c7 !important;
    color: white !important;
}

.buttons-excel:hover, .buttons-pdf:hover, .buttons-copy:hover, .btn.btn-accept:hover {
    color: white !important;
}

.buttons-excel:focus, .buttons-pdf:focus, .buttons-copy:focus, .btn.btn-accept:focus {
    box-shadow: 0 8px 10px rgb(5 72 199 / 30%) !important;
}

thead th:not(:first-child) {
    min-width: 200px;
}

thead th:first-child {
    min-width: 100px;
}

@media (max-width: 1400px) {
    .form-dd-block {
        min-width: 250px;
        margin-bottom: 10px;
    }

    .table-forms-block {
        flex-wrap: wrap;
    }

    .dataTables_filter {
        margin-bottom: 10px;
    }
}
@media (min-width: 2030px) {
    body .avia-order-card__body {
        grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    }
}
@media (max-width: 768px) {
    .table-search-block > div:first-child {
        padding-left: 10px;
    }

    body .brogressbar-block > div {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    body .agents_detail_body{
        grid-template-columns: 12fr;
    }

    body .avia-order-card__body {
        grid-template-columns: 1.5fr 1.5fr;
    }

    .form-dd-block {
        min-width: 100%;
        padding: 0;
    }

    .price-count {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .price-count > div {
        border-right: none !important;
    }

    .price-count > div > div {
        padding-right: 0 !important;
    }

    body .desc-link {
        transition: 0.2s;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    body .desc-link.active {
        left: 0;
        transition: 0.2s;
    }

}

@media (max-width: 528px) {
    .monitoring-container > div {
        flex-wrap: wrap;
    }

    .monitoring-container > div > div {
        width: 100% !important;
        padding: 0 !important;
    }

    .monitoring-container > div > div:last-child button {
        width: 100% !important;
    }

    .monitoring-container > div > div:first-child {
        margin-bottom: 10px;
    }

    .agent_info_count_block {
        flex-wrap: wrap;
    }

    .agent_info_count_block > div {
        width: 100%;
        border-right: none !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }
}

@media (max-width: 575px) {
    .rays-table {
        flex-wrap: wrap;
    }

    .rays-table > div:first-child {
        border: none !important;
    }
}

.form-dd-block span {
    font-size: 12px;
}

.br-1 {
    border-radius: 1rem !important;
}

.br-2 {
    border-radius: 2rem !important;
}

.brogressbar-block * {
    font-size: 12px;
}

.monitoring-container * {
    font-size: 12px;
}

td.text-left.pl-1 {
    border-bottom: none;
}

td.text-left.pl-1 {
    border-bottom: none;
}

.brogressbar-block > div {
    min-height: 380px;
}

.brogressbar-block > div > div {
    height: 100%;
}

.bor-r:not(:last-child) {
    border-right: 1px solid rgba(98, 98, 98, 0.16);
}

.bg-purp {
    background-color: #0548c7 !important;
    color: white !important;
    font-size: 13px !important;
}

#pills-tab button, #pills-tab button i {
    color: #444444;
    font-size: 13px;
}

#pills-tab button.active, #pills-tab button.active i {
    background-color: #0548c7 !important;
    color: white !important;
}

.price-count * {
    font-size: 13px;
}

.price-count {
    border-bottom: 1px solid rgba(98, 98, 98, 0.16);
}

.dropdown-item {
    font-size: 13px;
}

.valute-block *, .modal-body * {
    font-size: 13px;
}

.comment {
    resize: none;
}

.table-overflow {
    overflow-x: auto;
}


.price-count span:first-child {
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (max-width: 440px) {
    .tabs-menu_navigation .menu_nav-pills > li button {
        width: 100%;
    }

    .tabs-menu_navigation .menu_nav-pills > li {
        min-width: 100%;
    }

    .valute-item {
        min-width: auto;
    }
}

@media (max-width: 990px) {
    body .valute-item {
        min-width: 460px;
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        border: none !important;
    }

    .valute-block {
        flex-wrap: wrap;
        overflow-x: auto;
    }
}

.agent_link {
    color: #0548c7;
}

.agents_detail_header b {
    font-size: 13px;
}

.agents_detail_body * {
    font-size: 13px;
}

.fine_block * {
    font-size: 13px;
}

#menu {
    z-index: 2;
    margin-left: 20px;
}

#menu-bar {
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: white;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.menu_nav {
    transition: 0.3s ease;
    display: none;
    overflow: hidden;
}

.menu_nav ul {
    padding: 0 22px;
}

.menu_nav li {
    list-style: none;
    padding: 12px 0;
}

.menu_nav li a {
    color: white;
    font-size: 13px;
    text-decoration: none;
}

.menu_nav li a:hover {
    font-weight: bold;
}

.menu_icon-item * {
    color: white;
}

.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(-60%, -30%);
}

.acc-top {
    width: 100%;
    padding: 15px 26px;
    display: grid;
    border-bottom: 1px solid lightgray;
    grid-template-rows: 1fr 2fr;
}

.acc-top-ava {
    align-items: center;
    display: grid;
    grid-template-columns: 10fr 2fr;
}

.person-ico i {
    font-size: 36px;
    color: #0548c7;
}

.acc-person-name {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.close-menu-btn i {
    font-size: 24px;
    float: right;
    cursor: pointer;
}

.acc-top-course {
    display: grid;
    grid-template-rows: 50px 50px;
}

.acc-person-name {
    margin: auto 0;
}

.acc-price-block {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 4fr 4fr 4fr;
}

.acc-price-block span {
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.acc-price-block span:first-child {
    font-weight: bold;

}

#menu-bar i {
    color: white;
    font-size: 24px;
}

.avia-order-card {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.avia-order-card__ind td {
    height: 4px;
}

.avia-order-card__head-h {
    transition: .4s;
    cursor: pointer;
    background: #fff;
}

.avia-order-card__head {
    padding: 20px 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}

.avia-order-card__head::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -50px;
    height: 62px;
    width: 100%;
    left: 0;
}

.avia-order-card__head::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: rgba(223,223,223,.6);
    margin-top: 10px;
    margin-bottom: 10px;
}

.avia-order-card__title {
    font-size: 16px;
    font-weight: 500;
}

.avia-order-card__create-time {
    font-size: 12px;
    margin-top: 10px;
    color: #9b9b9b;
}

.avia-order-card__pnr {
    font-size: 13px;
    padding-left: 0;
    margin-top: 1rem;
}

.avia-order-card__pnr li {
    list-style: none;
}

.avia-order-card__pnr li>:nth-child(1) {
    font-weight: 500;
    color: #5d5f65;
    margin-right: 12px;
}

.avia-order-card .avia-order-card__status-T>:nth-child(1) {
    color: #8cc152!important;
}

.avia-order-card__pnr li>:nth-child(2)>:nth-child(2) {
    color: #5d5f65;
    font-weight: 500;
}

.avia-order-card__body {
    background: #fff;
    transition: .4s;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr;
    grid-gap: 20px;
    padding-bottom: 20px;
}

.avia-order-card__cell-title {
    color: #9b9b9b;
    font-size: 12px;
}

.avia-order-card__cell-value {
    font-size: 13px;
    margin-top: 4px;
}

.content2_bg {
    background: #fff;
}

.avia-order-card__body td {
    text-align: center;
}

.avia-order-list-content-title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #202020;
    margin: 0;
    padding: 20px;
}

.content__block {
    padding: 25px;
    width: 100%;
    box-sizing: border-box;
}

#paginator {
    color: #8c96ab;
    font-size: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

#paginator .goto:nth-child(1) {
    font-size: 0;
    position: relative;
    padding: 0 0 0 22px;
    min-height: 13px;
    vertical-align: 12px;
}

#paginator>* {
    font-size: 14px;
    margin: 0;
    padding: 4px 8px;
    display: inline-block;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    color: #0548c7;
}

#paginator>:nth-child(n+2) {
    margin-left: 4px;
}

#paginator .active {
    background: #f2f4f9;
}

#paginator #next {
    font-size: 0;
    position: relative;
    padding: 0 22px 0 0;
    min-height: 13px;
    vertical-align: 12px;
}

.goto i {
    color: #0548c7;
    font-size: 14px;
}

#paginator .active {
    background: rgba(5, 72, 199, 0.34);
    color: white;
}

.agents_detail_body {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-gap: 10px;
}
.agents_detail_body > div {
    display: grid;
    grid-template-rows: 3fr 3fr 3fr 3fr;
    grid-gap: 10px;
    align-items: end;
}
.agents_detail_body div > span {
    display: block;
}

.agents_detail_body .bg-purp {
    margin-left: auto;
}